# Segmenting and Clustering Neighborhoods in Toronto
In this assignment, you will be required to explore, segment, and cluster the neighborhoods in the city of Toronto. However, unlike New York, the neighborhood data is not readily available on the internet. What is interesting about the field of data science is that each project can be challenging in its unique way, so you need to learn to be agile and refine the skill to learn new libraries and tools quickly depending on the project.

For the Toronto neighborhood data, a Wikipedia page exists that has all the information we need to explore and cluster the neighborhoods in Toronto. You will be required to scrape the Wikipedia page and wrangle the data, clean it, and then read it into a pandas dataframe so that it is in a structured format like the New York dataset.

Once the data is in a structured format, you can replicate the analysis that we did to the New York City dataset to explore and cluster the neighborhoods in the city of Toronto.

## Step 1 - Scrap Wikipedia for data using BeautifulSoup
Use the Notebook to build the code to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe like the one shown below:

## To create the dataframe:
The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood.
Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.


More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.


If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough. So for the 9th cell in the table on the Wikipedia page, the value of the Borough and the Neighborhood columns will be Queen's Park.


Clean your Notebook and add Markdown cells to explain your work and any assumptions you are making.


In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.
Note: There are different website scraping libraries and packages in Python. One of the most common packages is BeautifulSoup. Here is the package's main documentation page: http://beautiful-soup-4.readthedocs.io/en/latest/

In [1]:
# Scraping Data 

# Installing packages 
!pip install BeautifulSoup4
!pip install requests

Requirement already satisfied: BeautifulSoup4 in c:\users\engch\anaconda3\lib\site-packages (4.7.1)
Requirement already satisfied: soupsieve>=1.2 in c:\users\engch\anaconda3\lib\site-packages (from BeautifulSoup4) (1.8)
Requirement already satisfied: requests in c:\users\engch\anaconda3\lib\site-packages (2.21.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\engch\anaconda3\lib\site-packages (from requests) (2020.6.20)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\engch\anaconda3\lib\site-packages (from requests) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\engch\anaconda3\lib\site-packages (from requests) (2.8)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in c:\users\engch\anaconda3\lib\site-packages (from requests) (1.24.1)

## 1. Scrape Data

In [33]:
# Import Packages 
import requests
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup

ModuleNotFoundError: No module named 'geopy'

In [3]:
# Create Soup Object from Wikipedia page source
source = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
soup = BeautifulSoup(source.text, 'lxml')

In [4]:
# Use Soup Object to iterate through our Wikipedia page and store into our list
data = []
columns = []
table = soup.find(class_='wikitable')
for index, tr in enumerate(table.find_all('tr')):
    section = []
    for td in tr.find_all(['th','td']):
        section.append(td.text.rstrip())
    
    #First row of data is the header
    if (index == 0):
        columns = section
    else:
        data.append(section)

In [15]:
#convert list into Pandas DataFrame
df = pd.DataFrame(data = data,columns = columns)
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

## 2. Clean Data 

Remove Boroughs that are 'Not assigned'

More than one neighborhood can exist in one postal code area, combined these into one row with the neighborhoods separated with a comma

If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough

In [16]:
# Remove Boroughs that are 'Not assigned'
df = canada_df[canada_df['Borough'] != 'Not assigned']
df.head()

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [19]:
# Group all neighbourhoods with the same postal code
df = df.groupby(["Postal Code", "Borough"])["Neighborhood"].apply(", ".join).reset_index()
df.head()

  Postal Code      Borough                            Neighborhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

In [20]:
print("Shape: ", df.shape)

Shape:  (103, 3)

## 3. Get Latitude and Longitude Coordinates

In [26]:
df_geo = pd.read_csv("./Geospatial_Coordinates.csv")
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [28]:
# Merging both Dataframes 
df_tor = pd.merge(df, df_geo, how='left', left_on = 'Postal Code', right_on = 'Postal Code')
# Removing the extra column
df_tor.drop("Postal Code", axis=1, inplace=True)
df_tor.head()

       Borough                            Neighborhood   Latitude  Longitude
0  Scarborough                          Malvern, Rouge  43.806686 -79.194353
1  Scarborough  Rouge Hill, Port Union, Highland Creek  43.784535 -79.160497
2  Scarborough       Guildwood, Morningside, West Hill  43.763573 -79.188711
3  Scarborough                                  Woburn  43.770992 -79.216917
4  Scarborough                               Cedarbrae  43.773136 -79.239476

## 4. Exploring and Clustering the Neighbourhood of Toronto